<div class="container">
    <div class="row">
        <div class="col">
            <label>Fecha Desde: </label>
            <input type="date" id="start" name="trip-start" value="2021" min="2021-07-09"
                max="2022-12-31" [(ngModel)]="fechaDesde">
        </div>
        <div class="col">
            <label>Fecha Hasta: </label>
            <input type="date" id="start" name="trip-start" value="2021" min="2021-07-09"
                max="2022-12-31" [(ngModel)]="fechaHasta">
        </div>
        <div class="col">
            <label></label>
            <button class="btn btnagregar" title="Agregar" (click)="traerFacturasGeneradas()">Mostrar Facturas Generadas</button>
        </div>
    </div>
    
    <!-- <div class="row mt-3">
        <label for="excel">Eleir un archivo (excel)</label>
        <input type="file" style="display: block;" accept=".xlsx, .xls" class="form-control" id="excel" (change)="cambioArchivo($event)">
    </div> -->
</div>


<div class="row mt-5" *ngIf="mostrarTrabla">
    
</div>
<div class="row mt-5" class="mat-elevation-z8" *ngIf="mostrarTrabla">
    <table mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id_prefac">
            <th mat-header-cell *matHeaderCellDef> Id Prefactura </th>
            <td mat-cell *matCellDef="let row"> {{row.id_prefac}} </td>
        </ng-container>
        <ng-container matColumnDef="Idcliente">
            <th mat-header-cell *matHeaderCellDef> Id Cliente </th>
            <td mat-cell *matCellDef="let row"> {{row.id_cli}} </td>
        </ng-container>
        <ng-container matColumnDef="cedula">
            <th mat-header-cell *matHeaderCellDef> Cedula </th>
            <td mat-cell *matCellDef="let row"> {{row.ciruc_cli}} </td>
        </ng-container>
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> nombre </th>
            <td mat-cell *matCellDef="let row"> {{row.nombres_cli }} {{row.apellidos_cli}} </td>
        </ng-container>
        <ng-container matColumnDef="valor">
            <th mat-header-cell *matHeaderCellDef> Valor </th>
            <td mat-cell *matCellDef="let row"> {{row.total_prefac}} </td>
        </ng-container>
        <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef> 
                Acciones 
                <!-- <div *ngIf="mostrarTrabla">
                    <input type="checkbox" class="form-check" name="todo" (change)="seleccionar($event)" id="selecc" />
                    <label for="selecc">25</label>
                </div> -->
            </th>
            <td mat-cell *matCellDef="let row">
                <div class="col">
                    <button type="button" (click)="seleccionar(row)" class="btnagregar" >Generar Factura</button>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator class="piepaginaTables" [pageSizeOptions]="[25, 50, 75]" showFirstLastButtons></mat-paginator>
</div>


