<br>
<div class="row">
    <button class="btn" (click)="pdfClienet('TODO')"> Reporte General</button>
</div>
<br>
<div class="row">
    <div class="col-sm-2">
        <span class="btnreporte" (click)="pdfClienet('CUENDINA CHICO')">Cuendina Chico</span>
    </div>
    <div class="col-sm-2">
        <span class="btnreporte" (click)="pdfClienet('EL ROSARIO')">El Rosario</span>
    </div>
    <div class="col-sm-2">
        <span class="btnreporte" (click)="pdfClienet('GUAMBA')">Guamba</span>
    </div>
    <div class="col-sm-2">
        <span class="btnreporte" (click)="pdfClienet('SAN JUAN')">San Juan</span>
    </div>
    <div class="col-sm-2">
        <span class="btnreporte" (click)="pdfClienet('SAN LUIS')">San Luis</span>
    </div>
    <div class="col-sm-2">
        <span class="btnreporte" (click)="pdfClienet('SANTA ROSA')">Santa Rosa</span>
    </div>
</div>
<br>